<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    都道府県<br>
    <%= f.select :prefecture, Company::PREFECTURES.map{|zone| [zone[1], zone[0] ]} %>
  </div>
  <div class="field">
    市町村名<br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    番地<br>
    <%= f.text_field :address2 %>
  </div>
   <div class="field">
    電話番号<br>
    <%= f.text_field :tel %>
  </div>
   <div class="field">
    Email<br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
